@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', 'Segoe UI', sans-serif;
}

:root {
	--Desaturated-Red: hsl(0, 36%, 70%);
	--Desaturated-Red-b: hsl(0, 36%, 70%, 0.5);
	--Desaturated-Red-s: hsl(0, 36%, 70%, 0.45);
	--Soft-Red: hsl(0, 93%, 68%);
	--Dark-Grayish-Red: hsl(0, 6%, 24%);
	--border: hsl(0, 93%, 68%, 0.2);
	--border-focus: hsl(0, 93%, 68%, 0.5);

	--gr-1: Linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	--gr-2: Linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

	--sans: 'Josefin Sans', 'Segoe UI', 'Arial', sans-serif;
}

/* clearing defaults */
button,
input {
	border: none;
	outline: none;
	background-color: inherit;
}

.layout {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background: var(--gr-1);
}

/* logo */
.logo {
	/* padding: 1.5rem; */
	align-self: stretch;
}

.logo img {
	width: 100px;
}

/* hero section */
.hero-img {
	/* width: 375px; */
	/* align-self: stretch; */
	/* height: 250px; */
	/* background-image: url('./images/hero-mobile.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat; */
}

/* heading section */
h1 {
	font-size: 2.3rem;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1rem;
	line-height: 2.8rem;
	margin-top: 4.2rem;
	margin-bottom: 0.8rem;
	color: var(--Dark-Grayish-Red);
}

h1 span {
	font-weight: 300;
	color: var(--Desaturated-Red);
}

/* sub-heading section */
p {
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-align: center;
	/* margin: 0 1.5rem; */
	margin-bottom: 1.5rem;
	color: var(--Desaturated-Red);
	opacity: 0.7;
}

/* email section */

.input-wrapper {
	display: flex;
	align-items: stretch;
}

.input-wrapper > label {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	border: 2px solid var(--Desaturated-Red-b);
	border-radius: 2rem;
	padding: 0.6rem 1.5rem;
	padding-right: 3rem;
}

.input-wrapper input {
	flex: 1 1 auto;
	font-weight: bold;
	font-size: 1rem;
	color: var(--Dark-Grayish-Red);

	/* error icon */
	/* background-image: url('./images/icon-error.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center right; */
}

.input-wrapper .error {
	visibility: hidden;
}

.input-wrapper button {
	background: var(--gr-2);
	padding: 0 1.8rem;
	margin-left: -2.3rem;
	border-radius: 2rem;
	box-shadow: 0 1rem 1.5rem var(--Desaturated-Red-s);
}

.input-wrapper input::placeholder {
	color: var(--Desaturated-Red);
	opacity: 0.5;
}

.error-msg {
	display: block;
	margin-top: 0.7rem;
	margin-left: 1.5rem;
	color: var(--Soft-Red);
	visibility: hidden;
}

.input-wrapper .visible,
.visible {
	visibility: visible;
}
